@using Northwind.Models
@if (1 == 0)
{
    <p>There are no active discounts</p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th scope="col">Discount</th>
            <th scope="col">Summary</th>
            <th scope="col" class="text-right">Code</th>
            <th scope="col" class="text-right">Percentage</th>
            <th scope="col" class="text-right">Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Discount discount in Model)
        {
            <tr id="discountRows">
                <td>@discount.Title - @String.Format("{0:MMM d yy}",discount.StartTime) - @String.Format("{0:MMM d yy}",discount.EndTime)</td>
                <td> @discount.Description </td>
                <td class="text-right">Discount Code: @discount.Code</td>
                <td class="text-right">@discount.Product.ProductName - @String.Format("{0}", discount.DiscountPercent*100)% </td>
                <td class="">Edit</td>
                <td class="">Delete</td>
            </tr>
        }
    </tbody>
</table>
}
@* <!-- cart item modal -->
<div id="modifyModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modify Discount?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div style="display:none;" id="ProductId"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="editDiscount">Edit</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="../../js/product.js"></script>
} *@
